
body {
    height: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
}

header {
    text-align: center;
    color: white;
    font-size: 40px;
}

.page {
    background-image: url("https://images.pexels.com/photos/810890/nature-night-sky-milky-way-810890.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); 
    width: 1500px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-top: -30px;
    margin-bottom: -20px;
    font-size: 90px;
}

h3 {
    font-size: 30px;
}


button {
    font: 20px;
    height: 80px;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-family: 'Space Grotesk', sans-serif;
    opacity: 0.75;
    font-size: 16px;
}

.controls {
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    cursor: auto;
}

.space {
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: auto;
    margin-left: 15px;
    margin-right: 15px;;
}

.music {
    display: flex;
    cursor: pointer;
    opacity: 0.5;
    padding-right: 80px;   
}

hr {
    width: 1500px;
}

.bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;

}

a {
    margin-left: 300px;
    margin-right: 300px;
    font-weight: bold;
    text-decoration: none;
}

.grid {
    width: 900px;
    height: 600px;
    border: solid 2px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    /* background-image: url("https://petapixel.com/assets/uploads/2021/09/FAd5D2dWQAAdSrK-1536x1025.jpg"); */
    background-color: black;

}

.grid div {
    width: 40px;
    height: 40px;
}

.comet { 
    background-image: url(../Images/comet.png);
}

.player {
    background-image: url(../Images/ship2.png);
}

.missile {
    background-image: url(../Images/missle2.png);
} 

.station {
    background-image: url(../Images/block.png);
}

.explosion {
    background-image: url(../Images/explosion.png);
}

.results {
    font-size: 20px;
    color: red;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 5px;
} 
